$primary: #009879;


$white: #fff;
$lighter-grey: #ddd;
$light-grey: #f3f3f3;

$black: #222222;

$background-body: $white;

$scrollbar-thumb: darken($lighter-grey, 3);
$scrollbar-thumb-hover: darken($lighter-grey,  10);