<nav>
    <ul>
        <li>
            <a href="/{{ hyperlink.event }}">Courses</a>
        </li>
        <li>
            <a href="/{{ hyperlink.athlete }}">Runners</a>
        </li>
        <li>
            <a href="/{{ hyperlink.latest }}">Latest</a>
        </li>
    </ul>
</nav>