---
permalink: "{{ hyperlink.date }}/{{ date.Date | date('yyyy') }}/{{ date.Date | date('mm') }}/{{ date.Date | date('dd') }}/data.json"
layout: api

pagination:
    data: parkrun.dates.day
    size: 1
    alias: date
---
{{date | json | safe }}