@media screen and (max-width: 750px) {
    table {
        border: 0;
        min-width: 250px;

        thead {
            tr {
                text-align: center;
                border-bottom: 0px;
                text-align: center;

                th {
                    width: 100%;
                    white-space: initial;
                    word-break: initial;
                }

                &:last-of-type {
                    display: none;
                }
            }
        }

        tr {
            border-bottom: 3px solid #ddd !important;
            display: block;

            &:last-of-type {
                border-bottom: 3px solid $primary !important;
            }
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 0.8em;
            text-align: right !important;
        }

        td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        td:last-child {
            border-bottom: 0;
        }
    }

    table caption {
        font-size: 1.3em;
    }
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    &.sticky {
        thead {
            position: sticky;
            top: 0;
        }
    }

    tr {
        th,
        td {
            padding: 12px 15px;
            white-space: nowrap;
            word-break: keep-all;
        }
    }

    thead {
        a {
            color: $white;
            text-decoration: none;
        }

        tr {
            background-color: $primary;
            color: $white;
            text-align: left;
        }

        th {
            position: relative;
            &:after {
                position: absolute;
                font-family: monospace;
                top: 50%;
                transform: translateY(-50%);
                padding: 0 5px;
            }
            &[data-sort="asc"]:after {
                content: "▲";
            }

            &[data-sort="desc"]:after {
                content: "▼";
            }
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $lighter-grey;

            &:nth-of-type(even) {
                background-color: $light-grey;
            }

            &:last-of-type {
                border-bottom: 2px solid $primary;
            }

            &.title {
                border-bottom: 1px solid $primary;
                color: $primary;
                background-color: #E6E6E6;
            }

            td {
                .pb-medal {
                    fill: $primary;
                }
            }
        }
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
}
