---
permalink: date/{{ date.Date | date('yyyy') }}/{{ date.Date | date('mm') }}/{{ date.Date | date('dd') }}/index.html
layout: page

pagination:
    data: parkrun.dates
    size: 1
    alias: date
---

<h1>
    {{date.Date | date("dS mmmm yyyy")}}
</h1>

<table>
    <caption>Results</caption>
    <thead>
        <tr>
            <th>
                Athlete
            </th>
            <th>
               Course
            </th>
            <th>
                Run #
            </th>
            <th>
                Position
            </th>
            <th>
                Time
            </th>
            <th>
                Age Grade
            </th>
            <th>
                PB?
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in date.Results %}
            <tr>
                <td>
                    <a href="/athlete/{{row.AthleteName | slug }}">{{row.AthleteName}}</a>
                </td>
                <td>
                    <a href="/course/{{row.Event | slug }}">{{row.Event}}</a>
                </td>
                <td>
                    <a href="http://www.parkrun.org.uk/{{row.Event | slug }}/results/weeklyresults?runSeqNumber={{row.RunNumber}}">{{row.RunNumber}}</a>
                </td>
                <td>{{row.Position}}</td>
                <td>{{row.Time | time}}</td>
                <td>{{row.AgeGrade}}%</td>
                <td>{{row.PB | cleanBool | noNo}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nothing to show</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <span>
        {% if page.url != pagination.href.first %}
            <a href="{{ pagination.href.first }}">Latest</a>
        {% endif %}
    </span>
    <span>
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}"><<</a>
        {% endif %}
    </span>
    <span>
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">>></a>
        {% endif %}
    </span>
    <span>
        {% if page.url != pagination.href.last %}
            <a href="{{ pagination.href.last }}">Oldest</a>
        {% endif %}
    </span>
</div>