---
permalink: "{{ hyperlink.date }}/{{ year.Year }}/index.html"
layout: page

pagination:
    data: parkrun.dates.year
    size: 1
    alias: year
---

<h1>
    {{year.Year}}
</h1>

<table>
    <caption>Results</caption>
    <thead>
        <tr>
            <th>
                Run Date
            </th>
            <th>
                Athlete
            </th>
            <th>
               Course
            </th>
            <th>
                Run #
            </th>
            <th>
                Position
            </th>
            <th>
                Time
            </th>
            <th>
                Age Grade
            </th>
            <th>
                PB?
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in year.Results %}
            <tr>
                <td>
                    <a href="/{{ hyperlink.date }}/{{row.RunDate | date('yyyy')}}/{{row.RunDate | date('mm')}}/{{row.RunDate | date('dd')}}">{{row.RunDate | date("dS mmm")}}</a>
                </td>
                <td>
                    <a href="/{{ hyperlink.athlete }}/{{row.AthleteName | slug }}">{{row.AthleteName}}</a>
                </td>
                <td>
                    <a href="/{{ hyperlink.event }}/{{row.Event | slug }}">{{row.Event}}</a>
                </td>
                <td>
                    <a href="http://www.parkrun.org.uk/{{row.Event | slug }}/results/weeklyresults?runSeqNumber={{row.RunNumber}}">{{row.RunNumber}}</a>
                </td>
                <td>{{row.Position}}</td>
                <td>{{row.Time | time}}</td>
                <td>{{row.AgeGrade}}%</td>
                <td>{{row.PB | cleanBool | noNo}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nothing to show</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <span>
        {% if page.url != pagination.href.first %}
            <a href="{{ pagination.href.first }}">Latest</a>
        {% endif %}
    </span>
    <span>
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}"><<</a>
        {% endif %}
    </span>
    <span>
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">>></a>
        {% endif %}
    </span>
    <span>
        {% if page.url != pagination.href.last %}
            <a href="{{ pagination.href.last }}">Oldest</a>
        {% endif %}
    </span>
</div>