---
permalink: "{{ hyperlink.event }}/index.html"
layout: page

eleventyComputed:
    title: Events
---

<table class="sticky">
    <thead>
        <tr>
            <th class="center" colspan="4">
                <h1>Courses</h1>
            </th>
        </tr>
        <tr>
            <th onclick="sort(this,0,'string')" class="left">Course</th>
            <th onclick="sort(this,1,'number')" class="center">Total Runs</th>
            <th onclick="sort(this,2,'number')" class="center">Best Time</th>
            <th onclick="sort(this,3,'number')" class="center">Average Time</th>
        </tr>
    </thead>
    <tbody>
    {% set cls = cycler("odd", "even") %}
        {% for event in parkrun.events %}
            <tr class="{{ cls.next() }}">
                <td data-value="{{event.Event | lower}}" data-label="Course" class="left">
                    <a href="/{{ hyperlink.event }}/{{event.Event | slug}}">{{event.Event}}</a>
                </td>
                <td data-value="{{event.Stats.TotalRuns}}" data-label="Total Runs" class="center">
                    {{event.Stats.TotalRuns}}
                </td>
                <td data-value="{{event.Stats.BestRun}}" data-label="Best Time" class="center">
                    {{event.Stats.BestRun | time}}
                </td>
                <td data-value="{{event.Stats.AverageRun}}" data-label="Average Time" class="center">
                    {{event.Stats.AverageRun | time}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>