---
permalink: "{{ hyperlink.event }}/index.html"
layout: page

eleventyComputed:
    title: Events
---

<table class="sticky">
    <thead>
        <tr>
            <th class="center" colspan="4">
                <h1>Courses</h1>
            </th>
        </tr>
        <tr>
            <th class="left">Course</th>
            <th class="center">Total Runs</th>
            <th class="center">Best Time</th>
            <th class="center">Average Time</th>
        </tr>
    </thead>
    <tbody>
        {% for event in parkrun.events %}
            <tr>
                <td data-label="Course" class="left">
                    <a href="/{{ hyperlink.event }}/{{event.Event | slug}}">{{event.Event}}</a>
                </td>
                <td data-label="Total Runs" class="center">
                    {{event.Stats.TotalRuns}}
                </td>
                <td data-label="Best Time" class="center">
                    {{event.Stats.BestRun | time}}
                </td>
                <td data-label="Average Time" class="center">
                    {{event.Stats.AverageRun | time}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>