---
permalink: "{{ hyperlink.event }}/{{ event.Event | slug }}/index.html"
layout: page
eleventyComputed:
    title: "{{ event.Event }}"

pagination:
    data: parkrun.events
    size: 1
    alias: event
---

<a href="/{{ hyperlink.event }}">View All Courses</a>

<table class="sticky">
    <thead>
        <tr>
            <th class="center" colspan="6">
                <h1>{{event.Event}}</h1>
            </th>
            <th class="center">
                <div>Total Runs</div>
                <div>{{event.Stats.TotalRuns}}</div>
            </th>
        </tr>
        <tr>
            <th  class="left">
                Athlete
            </th>
            <th  class="left">
               Run Date
            </th>
            <th  class="center">
                Run #
            </th>
            <th class="center">
                Position
            </th>
            <th class="center">
                Time
            </th>
            <th class="center">
                Age Grade
            </th>
            <th class="center">
                PB?
            </th>
        </tr>
    </thead>
    <tbody>
    {% set cls = cycler("odd", "even") %}
        {% for row in event.Results %}
            <tr class="{{ cls.next() }}">
                <td data-label="Athlete" class="left">
                    <a href="/{{ hyperlink.athlete }}/{{row.AthleteName | slug }}">{{row.AthleteName}}</a>
                </td>
                <td data-label="Run Date" class="left">
                    <a href="/{{ hyperlink.date }}/{{row.RunDate | date('yyyy')}}/{{row.RunDate | date('mm')}}/{{row.RunDate | date('dd')}}">{{row.RunDate | date("dS mmm yyyy")}}</a>
                </td>
                <td data-label="Run #" class="center">
                    <a href="http://www.parkrun.org.uk/{{row.Event | slug }}/results/weeklyresults?runSeqNumber={{row.RunNumber}}">{{row.RunNumber}}</a>
                </td>
                <td data-label="Position" class="center">{{row.Position}}</td>
                <td data-label="Time" class="center">{{row.Time | time}}</td>
                <td data-label="Age Grade" class="center">{{row.AgeGrade}}%</td>
                <td data-label="PB?" class="center">
                    {% if row.PB %}
                        {% include "pb-medal.svg" %}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="center" colspan="7">Nothing to show</td>
            </tr>
        {% endfor %}
    </tbody>
</table>