---
permalink: "dates/{{ date.year }}/{{ date.month | pad }}/{{ date.day | pad }}/data.json"
layout: api

pagination:
    data: parkrun.dates.day
    size: 1
    alias: date
---
{{date | json | safe }}