---
permalink: "{{ hyperlink.date }}/{{ month.Year }}/{{ month.Month }}/index.html"
layout: page

pagination:
    data: parkrun.dates.month
    size: 1
    alias: month

eleventyComputed:
    title: "{{ (month.Month - 1) | month }} {{ month.Year }}"
---

<a href='/{{ hyperlink.date }}/{{ month.Year }}'>View runs in {{month.Year}}</a>

<table class="sticky">
    <thead>
        <tr>
            <th class="left">
                {% if pagination.href.next %}
                    <a href="{{ pagination.href.next }}">
                    &larr;
                    </a>
                {% endif %}
            </th>
            <th colspan="6" class="center">
                <h1>
                    {{ (month.Month - 1) | month }}
                    {{month.Year}}
                </h1>
            </th>
            <th class="right">
                {% if pagination.href.previous %}
                    <a href="{{ pagination.href.previous }}">
                    &rarr;
                    </a>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th class="left">
                Run Date
            </th>
            <th class="left">
                Athlete
            </th>
            <th class="left">
               Course
            </th>
            <th class="center">
                Run #
            </th>
            <th class="center">
                Position
            </th>
            <th class="center">
                Time
            </th>
            <th class="center">
                Age Grade
            </th>
            <th class="center">
                PB?
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in month.Results %}
            <tr>
                <td data-label="Run Date" class="left">
                    <a href="/{{ hyperlink.date }}/{{row.RunDate | date('yyyy')}}/{{row.RunDate | date('mm')}}/{{row.RunDate | date('dd')}}">{{row.RunDate | date("dS")}}</a>
                </td>
                <td data-label="Athlete" class="left">
                    <a href="/{{ hyperlink.athlete }}/{{row.AthleteName | slug }}">{{row.AthleteName}}</a>
                </td>
                <td data-label="Course" class="left">
                    <a href="/{{ hyperlink.event }}/{{row.Event | slug }}">{{row.Event}}</a>
                </td>
                <td data-label="Run #" class="center">
                    <a href="http://www.parkrun.org.uk/{{row.Event | slug }}/results/weeklyresults?runSeqNumber={{row.RunNumber}}">{{row.RunNumber}}</a>
                </td>
                <td data-label="Position" class="center">{{row.Position}}</td>
                <td data-label="Time" class="center">{{row.Time | time}}</td>
                <td data-label="Age Grade" class="center">{{row.AgeGrade}}%</td>
                <td data-label="PB?" class="center">
                    {% if row.PB %}
                        {% include "pb-medal.svg" %}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="center" colspan="8">Nothing to show</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.njk" %}