---
permalink: "runners/index.html"
layout: page

eleventyComputed:
    title: "Runners"
---
<table class="sticky">
    <thead>
        <tr>
            <th class="center" colspan="5">
                <h1>Runners</h1>
            </th>
        </tr>
        <tr>
            <th class="left">Name</th>
            <th class="left">Last Run</th>
            <th class="center">Total Runs</th>
            <th class="center">Best Time</th>
            <th class="center">Average Time</th>
        </tr>
    </thead>
    <tbody>
    {% set cls = cycler("odd", "even") %}
        {% for runner in parkrun.runners %}
            <tr class="{{ cls.next() }}">
                <td class="left">
                    <a href="/runners/{{runner.name | slug}}">{{runner.name}}</a>
                </td>
                <td class="left">
                    <a href="/dates/{{ runner.lastRun | date('yyyy') }}/{{ runner.lastRun | date('mm') }}/{{ runner.lastRun | date('dd') }}/">{{runner.lastRun | date("dS mmm yyyy")}}</a>
                </td>
                <td class="center">{{runner.overallSummary.total}}</td>
                <td class="center">{{runner.overallSummary.time.fastest | time}}</td>
                <td class="center">{{runner.overallSummary.time.average | time}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>