---
permalink: athlete/{{ athlete.Name | slug }}/index.html
layout: page

pagination:
    data: parkrun.athletes
    size: 1
    alias: athlete
---

<h1>{{athlete.Name}}
    <small>{{athlete.TotalRuns}} total runs!</small>
</h1>

<table>
    <caption>Results</caption>
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
               Run Date
            </th>
            <th>
                Run #
            </th>
            <th>
                Position
            </th>
            <th>
                Time
            </th>
            <th>
                Age Grade
            </th>
            <th>
                PB?
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in athlete.Results %}
            <tr>
                <td>
                    <a href="/course/{{row.Event | slug }}">{{row.Event}}</a>
                </td>
                <td>
                    <a href="/date/{{row.RunDate | date('yyyy')}}/{{row.RunDate | date('mm')}}/{{row.RunDate | date('dd')}}">{{row.RunDate | date("dS mmm yyyy")}}</a>
                </td>
                <td>
                    <a href="http://www.parkrun.org.uk/{{row.Event | slug }}/results/weeklyresults?runSeqNumber={{row.RunNumber}}">{{row.RunNumber}}</a>
                </td>
                <td>{{row.Position}}</td>
                <td>{{row.Time | time}}</td>
                <td>{{row.AgeGrade}}%</td>
                <td>{{row.PB | cleanBool | noNo}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nothing to show</td>
            </tr>
        {% endfor %}
    </tbody>
</table>