---
permalink: "{{ hyperlink.athlete }}/{{ athlete.Name | slug }}/index.html"
layout: page

pagination:
    data: parkrun.athletes
    size: 1
    alias: athlete

eleventyComputed:
    title: "{{ athlete.Name }}"
---

<nav>
    <ul>
        <li>
            <a href="/{{ hyperlink.athlete }}">View All Runners</a>
        </li>
        <li>
            <a href="/{{ hyperlink.athlete }}/{{athlete.Name | slug}}/stats">Stats</a>
        </li>
    </ul>
</nav>

<table class="sticky">
    <thead>
        <tr>
            <th class="center" colspan="6">
                <h1>{{athlete.Name}}</h1>
            </th>
            <th class="center">
                <div>Total Runs</div>
                <div>{{athlete.TotalRuns}}</div>
            </th>
        </tr>
        <tr>
            <th onclick="sort(this,0,'string')"  class="left">
                Course
            </th>
            <th onclick="sort(this,1,'string')"  class="left">
               Run Date
            </th>
            <th onclick="sort(this,2,'number')"  class="center">
                Run #
            </th>
            <th onclick="sort(this,3,'number')"  class="center">
                Position
            </th>
            <th onclick="sort(this,4,'number')"  class="center">
                Time
            </th>
            <th onclick="sort(this,5,'number')"  class="center">
                Age Grade
            </th>
            <th onclick="sort(this,6,'boolean')"  class="center">
                PB?
            </th>
        </tr>
    </thead>
    <tbody>
        {% set cls = cycler("odd", "even") %}
        {% for row in athlete.Results %}
            <tr class="{{ cls.next() }}">
                <td data-value="{{row.Event | lower }}" data-label="Course" class="left">
                    <a href="/{{ hyperlink.event }}/{{row.Event | slug }}">{{row.Event}}</a>
                </td>
                <td data-value="{{row.RunDate.getTime()}}" data-label="Run Date" class="left">
                    <a href="/{{ hyperlink.date }}/{{row.RunDate | date('yyyy')}}/{{row.RunDate | date('mm')}}/{{row.RunDate | date('dd')}}">{{row.RunDate | date("dS mmm yyyy")}}</a>
                </td>
                <td data-value="{{row.RunNumber}}" data-label="Run #" class="center">
                    <a href="http://www.parkrun.org.uk/{{row.Event | slug }}/results/weeklyresults?runSeqNumber={{row.RunNumber}}">{{row.RunNumber}}</a>
                </td>
                <td data-value="{{row.Position}}" data-label="Position" class="center">{{row.Position}}</td>
                <td data-value="{{row.Time}}" data-label="Time" class="center">{{row.Time | time}}</td>
                <td data-value="{{row.AgeGrade}}" data-label="Age Grade" class="center">{{row.AgeGrade}}%</td>
                <td data-value="{{row.PB}}" data-label="PB?" class="center">
                    {% if row.PB %}
                        {% include "pb-medal.svg" %}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="center" colspan="7">Nothing to show</td>
            </tr>
        {% endfor %}
    </tbody>
</table>