---
layout: page
---

<h1>Latest</h1>

<h2>{{parkrun.latest.Date | date("dS mmm yyyy") }}</h2>

<table>
    <thead>
        <tr>
            <th>
                Athlete
            </th>
            <th>
               Course
            </th>
            <th>
                Run #
            </th>
            <th>
                Position
            </th>
            <th>
                Time
            </th>
            <th>
                Age Grade
            </th>
            <th>
                PB?
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in parkrun.latest.Results %}
            <tr>
                <td>
                    <a href="/{{ hyperlink.athlete }}/{{row.AthleteName | slug }}">{{row.AthleteName}}</a>
                </td>
                <td>
                    <a href="/{{ hyperlink.event }}/{{row.Event | slug }}">{{row.Event}}</a>
                </td>
                <td>
                    <a href="http://www.parkrun.org.uk/{{row.Event | slug }}/results/weeklyresults?runSeqNumber={{row.RunNumber}}">{{row.RunNumber}}</a>
                </td>
                <td>{{row.Position}}</td>
                <td>{{row.Time | time}}</td>
                <td>{{row.AgeGrade}}%</td>
                <td>{{row.PB | cleanBool | noNo}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nothing to show</td>
            </tr>
        {% endfor %}
    </tbody>
</table>