{% for athlete in parkrun.athletes %}
<div>
<b>{{ athlete.Id }}</b>
<span>{{athlete.Name}}</span>
</div>
    
    

{% else %}
    <li>This would display if the 'item' collection were empty</li>
{% endfor %}