---
permalink: staticwebapp.config.json
layout: api
---
{
    "routes": [
        {
        "route": "/latest",
        "redirect": "/dates/{{ parkrun.lastRun | date('yyyy') }}/{{ parkrun.lastRun | date('mm') }}/{{ parkrun.lastRun | date('dd') }}/"
        }
    ],
    "responseOverrides": {
        "400": {
            "rewrite": "/bad-request/"
        },
        "401": {
            "rewrite": "/unauthorized/"
        },
        "403": {
            "rewrite": "/forbidden/"
        },
        "404": {
            "rewrite": "/page-not-found/"
        }
    }
}